/* HEADER */
@media (max-width: 570px) {
    /* HEADER */
    .header-container{
        flex-direction: column;
    }

    .header-container .logo{
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {
    /* HEADER */
    .header-container .logo {
        margin-bottom: 30px;
    }

    .header-container nav ul{
        flex-direction: column;
    }

    .header-container nav ul li{
        padding: 20px;
    }

    /* FEATURES */
    .features .features-container{
        grid-template-columns: 1fr;
    }

    /* IMPACT */
    .impact .impact-container{
        grid-template-columns: 1fr;
    }
}