/* HEADER */

.header {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    padding: 60px 50px 30px;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container nav ul{
    display: flex;
}

.header .header-container nav ul li a{
    font-size: 1.6rem;
    color: #ffffff;
    padding: 20px;
}

.header .header-container nav ul li a:hover{
    font-weight: 700;
    text-decoration: underline;
}

/* HERO */

.hero {
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hero .hero-container{
    max-width: 600px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.hero .hero-container img{
    max-width: 100%;
}

.hero .hero-container h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3.1rem;
    margin: 25px auto;
}

.hero .hero-container p{
    font-size: 1.6rem;
    max-width: 500px;
    align-self: center;
}

.hero .hero-container .btn-get-started{
    color: #ffffff;
    font-weight: 700;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    align-self: center;
    padding: 15px 75px;
    border-radius: 50px;
    margin-top: 15px;
}

.hero .hero-container .btn-get-started:hover{
    background-image: none;
    background-color: hsl(176, 68%, 64%);
}