/* HEADER */

.header {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    padding: 60px 50px 30px;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container nav ul{
    display: flex;
}

.header .header-container nav ul li a{
    font-size: 1.6rem;
    color: #ffffff;
    padding: 20px;
}

.header .header-container nav ul li a:hover{
    font-weight: 700;
    text-decoration: underline;
}

/* HERO */

.hero {
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hero .hero-container{
    max-width: 600px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.hero .hero-container img{
    max-width: 100%;
}

.hero .hero-container h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3.1rem;
    margin: 25px auto;
}

.hero .hero-container p{
    font-size: 1.6rem;
    max-width: 500px;
    align-self: center;
}

.hero .hero-container .btn-get-started{
    color: #ffffff;
    font-weight: 700;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    align-self: center;
    padding: 15px 75px;
    border-radius: 50px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hero .hero-container .btn-get-started:hover{
    background-image: none;
    background-color: hsl(176, 68%, 64%);
}

/* FEATURES */

.features {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .features-container{
    margin: 100px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
}

.features .features-container .feature-card{
    max-width: 350px;
    padding: 20px;
}

.features .features-container .feature-card img{
    height: 85px;
    max-width: 100%;
    margin-bottom: 20px;
}

.features .features-container .feature-card h2{
    margin-bottom: 20px;
}

/* IMPACT */

.impact{
    color: #ffffff;
    padding: 75px;
}

.impact .impact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 5rem;
}

.impact .impact-container img{
    max-width: 100%;
}

.impact .impact-container .impact-text{
    text-align: left;
    max-width: 450px;
}

.impact .impact-container .impact-text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 3.1rem;
    max-width: 350px;
    padding: 30px 0;
}

.impact .impact-container .impact-text p{
    font-size: 1.4rem;
    margin: 15px 0;
}

.impact .impact-container .impact-text a{
    color: hsl(176, 68%, 64%);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.impact .impact-container .impact-text a:hover{
    color: #ffffff;
}

/* TESTIMONIALS */

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials .testimonials-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 50px;
    max-width: 1000px;
}

.testimonials .testimonials-container .testimonial{
    background-color: hsl(219, 30%, 18%);
    color: #ffffff;
    max-width: 400px;
    border-radius: 5px;
    padding: 30px 20px 15px;
    font-size: 1.6rem;
    box-shadow: hsl(217, 28%, 15%) 0px 0px 0px 2px, hsl(219, 30%, 18%) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.testimonials .testimonials-container .testimonial .person{
    display: grid;
    grid-template-areas: "img h3"
                         "img p";
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
    margin-top: 15px;
}

.testimonials .testimonials-container .testimonial .person img{
    grid-template: img;
    border-radius: 100px;
    width: 35px;
}

.testimonials .testimonials-container .testimonial .person h3{
    grid-template: h3;
    font-size: 1.3rem;
}

.testimonials .testimonials-container .testimonial .person p{
    grid-template: p;
    font-size: 1.1rem;
}